<header id="header" class="header">
	<nav class="navbar navbar-expand-lg border-bottom">
		<div class="container">
			<div class="row flex-fill">
				<div class="col-2 col-sm-1 d-lg-none order-1 p-0">
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="col-12 col-lg-3 order-2 order-lg-0">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav gap-2 w-100">
							<li class="nav-item">
								<a class="nav-link active" href=#">Photos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Videos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Podcasts</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-5 col-lg-1 order-4 order-lg-1 d-flex justify-content-center align-items-center mt-2 mt-lg-0">
					<div class="d-flex gap-1">
						<label class="order-0 form-check-label float-end" for="theme-toggle">
							<i class="bi bi-sun-fill"></i>
						</label>
						<div class="form-check form-switch order-1">
							<input class="form-check-input" type="checkbox" role="switch" id="theme-toggle">
						</div>
						<label class="order-2 form-check-label float-end" for="theme-toggle">
							<i class="bi bi-moon-stars-fill"></i>
						</label>
					</div>
				</div>
				<div class="col-10 col-sm-11 col-lg-6 order-0 order-lg-2">
					<div class="input-group align-items-center">
						<input
							class="form-control border rounded-pill ps-5 bg-secondary text-dark"
							type="search"
							id="example-search-input"
							placeholder="Search for anything..."
						>
						<span class="position-absolute left-0 z-6 border-0 ms-3 bg-transparent rounded-pill bg-secondary">
							<i class="bi bi-search"></i>
						</span>
					</div>
				</div>
				<div class="col-4 col-lg-1 order-3 order-lg-3 d-flex justify-content-start mt-2 mt-lg-0">
					<div class="dropdown order-1 order-lg-2 d-flex">
						<button
							class="btn btn-light bg-transparent border-0 dropdown-toggle"
							type="button" id="dropdownMenuButton1"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							English
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item active" href="#">English</a></li>
							<li><a class="dropdown-item" href="#">Ukrainian</a></li>
						</ul>
					</div>
				</div>
				<div class="col-3 col-lg-1 order-5 order-lg-4 d-flex justify-content-end mt-2 mt-lg-0">
					<button
						class="btn btn-light border-0 bg-transparent text-nowrap order-2 order-lg-3"
						type="button"
						aria-label="Log In"
					>
						Sign In
					</button>
				</div>
			</div>
		</div>
	</nav>
</header>

<script>
	const themeToggle = document.getElementById('theme-toggle');

	const header = document.getElementById('header');
	const headerNavLinks = header.getElementsByClassName('nav-link');
	const headerDropdownItems = header.getElementsByClassName('dropdown-item');
	const headerDropdownToggler = header.getElementsByClassName('dropdown-toggle')[0];

	for (let navLink of headerNavLinks) {
		navLink.addEventListener('click', function () {
			for (let link of headerNavLinks) {
				link.classList.remove('active');
			}
			navLink.classList.add('active');
		})
	}

	for (let dropdownItem of headerDropdownItems) {
		dropdownItem.addEventListener('click', function (event) {
			for (let item of headerDropdownItems) {
				item.classList.remove('active');
			}
			dropdownItem.classList.add('active');
			headerDropdownToggler.textContent = event.target.text;
		})
	}

	themeToggle.addEventListener('change', () => {
		document.getElementById('body').classList.toggle('dark');
	})
</script>
